[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/fuzzyfinder"]
	path = .vim/bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/rainbow-parenthesi"]
	path = .vim/bundle/rainbow-parenthesi
	url = git://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = git://github.com/vim-scripts/ZenCoding.vim.git
[submodule ".vim/bundle/color-lilypink"]
	path = .vim/bundle/color-lilypink
	url = git://github.com/vim-scripts/lilypink.git
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = git://github.com/vim-scripts/tlib.git
[submodule ".vim/bundle/vim-herokudoc-theme"]
	path = .vim/bundle/vim-herokudoc-theme
	url = git://github.com/uu59/vim-herokudoc-theme.git

[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/indentline"]
	path = .vim/bundle/indentline
	url = git://github.com/Yggdroot/indentLine.git

[submodule ".vim/bundle/vim-ado-manager"]
	path = .vim/bundle/vim-ado-manager
	url = git://github.com/proft/vim-ado-manager.git

[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git

[submodule ".vim/bundle/snipmate-snippets"]
    path = .vim/bundle/snipmate-snippets
    url = https://github.com/vim-scripts/snipmate-snippets

[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-xkbswitch"]
	path = .vim/bundle/vim-xkbswitch
	url = http://github.com/lyokha/vim-xkbswitch
